@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}
body {
  width: 100%;
}
:root {
  --primaryColor: #17b169;
}

/* Header Section */

#logo .shop {
  font-size: 2rem;
  color: var(--primaryColor);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#logo .x {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* Header Start */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 5.31rem;
  background: #fffdfd;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 1.25rem;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primaryColor);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 1.875rem;
  height: 0.125rem;
  background: #088178;
  position: absolute;
  bottom: -0.25rem;
  left: 1.25rem;
}

#mobile{
  display: none;
}
#close{
  display: none;
}


/* Hero Section */
#hero > h4 {
  padding-bottom: 1rem;
}
#hero > h2 {
  color: var(--primaryColor);
  font-size: 1.5rem;
  font-weight: bold;
}
#hero > h1 {
  font-size: 2rem;
  color: #1a1a1a;
}
#hero > p {
  font-style: italic;
}

/* Home Page */
#hero {
  background-image: url(Images/poster.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  padding: 0px 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero button {
  background-image: linear-gradient();
  background-color: transparent;
  border: none;
  color: var(--primaryColor);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

#hero button:hover {
  color: rgb(94, 5, 178);
}

/* feature sec */
#features {
  padding: 2.5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category {
  width: 180px;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 15px 15px 34px rgba(0, 0, 0, 0.06);
  border: 1px solid #cce7d0;
  border-radius: 4px;
 margin-bottom: 15px;
  cursor: pointer;
}
.category:hover {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5);
}

.category img {
  max-width: 100%;
}
.category img figcaption {
  text-align: center;
}

/*  products css */
#container h2 {
  text-align: center;
}
#mobile-sec {
  padding: 2.5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
#mobile-sec h2 {
  display: block;
  text-align: center;
  max-width: 100%;
}
.mob {
  width: 23%;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 15px 15px 34px rgba(0, 0, 0, 0.06);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}
.mob:hover {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5);
}

.mob img {
  max-width: 100%;
}
.mob img figcaption {
  text-align: center;
}

.off {
  color: var(--primaryColor);
  font-weight: 900;
}

/* /repair */

#repair {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(Images/repair.jpg);
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

#repair h4 {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
}
#repair h2 span {
  color: red;
}
#repair button {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: white;
  transition: 0.2s;
}
#repair button:hover {
  background-color: var(--primaryColor);
}

/* /offers */

#offers {
  padding: 2.5rem 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#offers .banner-box {
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 40vw;
  height: 40vh;
  margin: auto;
  
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.banner-box h2 {
  font-size: 2rem;
  font-weight: 800;
}

.banner-box button,.btn{
    padding: 11px 18px;
    color: wheat;
    background-color: transparent;
    border: 1px solid rgb(255, 243, 243);
    outline: none;
    transition: 0.2s;
    font-size: 1rem;
    
}

.banner-box button:hover{
    background-color: var(--primaryColor);
    color: black;
    border: 1px solid black;
}
.banner-box1{
    background-image: url(Images/trad.png);
}
.banner-box2{
    background-image: url(Images/tv.jpg);
}



/* sign up */

#signup{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #041e42;
  padding: 2.5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top:1rem ;
  margin-bottom: 1rem;
}

#signup h2{
font-weight: 700;
color: white;
}

#signup p{
  font-size: 1rem;
  color: #818ea0;
  font-weight: 600;
}

#signup p span{
  color: #ffbd27;
  font-weight: 600;
}

#signup input{
  width: 100%;
  padding: 0 1.25rem;
  font-size: 1rem;
  height: 3.125rem;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

#signup button{
background-color: var(--primaryColor);
color: white;
white-space: nowrap;
border-radius: 4px;
outline: none;
border: none;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
}
.input{
  display: flex;
  width: 40%;
}

/* footer */
footer{
  padding: 2.5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #b0c7e6;
}
.col {
  width: 23%;
}
#payment img{
  max-width: 190px;
}

#shop{
  font-size: 2rem;
  color: var(--primaryColor);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#x{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

footer .col{
  width: 23%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.col a{
  text-decoration: none;
  color: black;
}
.col a:hover{
  color: var(--primaryColor);
}

.copyright{
  width: 100%;
  text-align: center;
}

footer i:hover{
color: var(--primaryColor);
}



/*  media queries */



/* ipad */
@media (max-width: 970px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px; /* Set the width to 300px */
    height: 100vh;
    background-color: #e3e6f3;
    z-index: 999;
    padding: 80px 0 0 10px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }
  #navbar.active{
    right: 0;
  }

  #navbar li {
    margin-bottom: 10px;
  }



  #mobile{
    display: flex;
  }

  #mobile i{
    padding-left: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #bag{
    display: none;
  }

    #hero {
		padding: 40px 40px;
    width: 100vw;
    height: 60vh;
  }

  #features{
  justify-content: space-around;
  padding: 40px 40px;
  }

  #feature .category{
    width: 250px;
    margin: 15px 15px;
  }
  #mobile-sec {
    padding: 40px 40px;
}
.mob{
  width: 40%;
}

  #repair {
   
    padding: 40px 40px;
    height: 20vh;
    
}

#offers{
  padding: 40px 40px;
}

#offers .banner-box {
 min-width: 100%;
 height: 30vh;
 margin-bottom: 15px;
}

#signup {
  width: 100vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input{
  width:70%;
}

footer .col{
  width: 100%;
 }
}




/* mobile */
@media (max-width:450px) {


  #header{
    padding: 20px 20px;
  }
  #navbar{
    width: 40vw;
  }
  #hero{
	height: 40vh;
	padding: 20px 20px;
    background-position: center;
  }
  #features{
    padding: 20px 20px;
  }

  .category{
    width: 40%;
    padding: 10px;
  }
   
  #container h2 {
    padding: 0 10px;
}
.mob {
  width: 100%;
}
  #repair{
    padding: 20px 20px;
    height: 40vh;
    justify-content: center;
    align-items: self-start;
}



  #offers{
    padding: 20px 20px;
  }

  #signup{
    padding: 20px 20px;
  }
  .input{
    width: 100%;
  }
  #signup .input{
width: 100%;
  }
 footer{
  padding: 20px 20px;
 
 }

 footer .col{
  width: 100%;
 }
}